@page "/products"
@model PetHotelManager.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Quản lý Sản phẩm";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h1>@ViewData["Title"]</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a asp-page="Create" class="btn btn-sm btn-outline-primary">
            <i class="bi bi-plus-circle-fill"></i>
            Thêm mới Sản phẩm
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Tên Sản phẩm</th>
            <th scope="col" class="text-end">Giá</th>
            <th scope="col" class="text-end">Tồn kho</th>
            <th scope="col">Đơn vị</th>
            <th scope="col" class="text-end">Hành động</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model.ProductList)
        {
            <tr>
                <td>@product.Name</td>
                <td class="text-end">@product.Price.ToString("N0")</td>
                <td class="text-end">@product.StockQuantity</td>
                <td>@product.Unit</td>
                <td class="text-end">
                    <form method="post" class="d-inline">
                        <a asp-page="./Edit" asp-route-id="@product.Id" class="btn btn-sm btn-outline-secondary">Sửa</a>
                        <button type="submit" asp-page-handler="Delete" asp-route-id="@product.Id" class="btn btn-sm btn-outline-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?')">Xóa</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>